#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #00a087;
  color: #e8fdff;
  padding: 0 2em 0 2em;
  top: 0px;
  bottom: 0px;
  z-index: 1;
}
#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}
#nav-bar .header {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 200%;
}
#login {
  position: fixed;
  top: 0px;
  right: 0px;
}
#login label {
  padding: 30px;
}
#compose {
  background-color: #eee;
  margin-top: 5px;
  float: right;
  height: 70px;
  width: 110px;
  padding: 5px;
  border-radius: 5px;
}
#compose h3 {
  display: inline;
} #compose i {
  font-size: 46px
  float: left;
}
#compose:hover {
  background-color: white;
}
#logout {
  position: absolute;
  right: 150px;
}
