section {
  margin: 2em;
  border: 1px solid #e0dfdf;
  border-radius: 5px;
}
section.new-tweet {
  padding: 10px;
  background: #eee;
}

section.new-tweet h2 {
  width: 100%;
  border-bottom: 1px solid #000;
}

section.new-tweet textarea {
  width: 100%;
  padding: 5px;
}

section.new-tweet .counter {
  float: right;
}

section.tweet {
  opacity: 0.7;
}
section.tweet:hover {
  opacity: 1;
  background-color: 1px solid black;
}
section.tweet header {
  /*opacity: 0.5;*/
  padding: 10px;
  height: 60px;
  background: #eeeeee;
}
section.tweet span {
  float: right;
}
section.tweet article {
  padding: 10px;
}
section.tweet footer {
  border-top: 1px solid #eeeeee;
  font-size: 70%;
  padding: 5px;
}
